- var paintersList = [{id: '1', img: 'pepega.png', name: 'Tmi Antti Puumanen', city: 'HELSINKI', phone: '+358442546122', email: 'antti.puumanen@gmail.com', description: 'Vuodesta 2010 toiminimellä maalausalan pien urakoitsijana ja ali-urakoitsijana töitä tehnyt yhdenmiehen yritys. Koulutukseltani olen Maalari-artesaani.pt sekä Restaurointi-Kisälli.at. Erikois-osaamisena Marmorointi/kivijäljennökset.', certificates: ['Efektimaalaus']}, {id: '1', img: 'asd', name: 'Tmi Antti Puumanen', city: 'HELSINKI', phone: '+358442546122', email: 'antti.puumanen@gmail.com', description: 'Vuodesta 2010 toiminimellä maalausalan pien urakoitsijana ja ali-urakoitsijana töitä tehnyt yhdenmiehen yritys. Koulutukseltani olen Maalari-artesaani.pt sekä Restaurointi-Kisälli.at. Erikois-osaamisena Marmorointi/kivijäljennökset.', certificates: ['Efektimaalaus']}, {id: '1', img: 'asd', name: 'Tmi Antti Puumanen', city: 'HELSINKI', phone: '+358442546122', email: 'antti.puumanen@gmail.com', description: 'Vuodesta 2010 toiminimellä maalausalan pien urakoitsijana ja ali-urakoitsijana töitä tehnyt yhdenmiehen yritys. Koulutukseltani olen Maalari-artesaani.pt sekä Restaurointi-Kisälli.at. Erikois-osaamisena Marmorointi/kivijäljennökset.', certificates: ['Efektimaalaus']}, {id: '1', img: 'asd', name: 'Tmi Antti Puumanen', city: 'HELSINKI', phone: '+358442546122', email: 'antti.puumanen@gmail.com', description: 'Vuodesta 2010 toiminimellä maalausalan pien urakoitsijana ja ali-urakoitsijana töitä tehnyt yhdenmiehen yritys. Koulutukseltani olen Maalari-artesaani.pt sekä Restaurointi-Kisälli.at. Erikois-osaamisena Marmorointi/kivijäljennökset.', certificates: ['Efektimaalaus']}];

mixin painters()
    section.painters
        ul.painters__list
            each painter in paintersList
                li.painters__item
                    .painters__wrapper
                        .painters__image-box
                            img.painters__image(src=img + painter.img)
                        .painters__content-box
                            h3.painters__title=painter.name
                            p.painters__location=painter.city

                            .painters__about-section
                                a.painters__phone(href='tel:' + painter.phone)=painter.phone
                                a.painters__email(her='mailto:' + painter.email)=painter.email

                            p.painters__description=painter.description

                            ul.painters__certificate-list
                                each certificate in painter.certificates
                                    li.painters__certificate-item=certificate

                    .painters__action-box
